<!-- Main Contents -->
<div class="main_content">
    <div class="mcontainer">
        <div class="flex justify-between items-center relative md:mb-4 mb-3">
            <div class="flex-1">
                <h2 class="text-2xl font-semibold"> Marketplace </h2>

                <nav class="responsive-nav border-b md:m-0 -mx-4">
                    <ul uk-switcher="connect: #marketplace-tab; animation: uk-animation-fade">
                        <li><a href="#" class="lg:px-2"> Todos </a></li>
                        <li><a href="#" class="lg:px-2"> Favoritos </a></li>
                        <li><a [routerLink]="['/plans']" class="lg:px-2"> Anunciate </a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="uk-switcher lg:mt-4 mt-4" id="marketplace-tab">
            <div>
                <app-marketplace-list-all [posts]="posts" />
            </div>
            <div>
                <app-marketplace-list-favorites />
            </div>
            <div>content 3</div>
        </div>
    </div>
</div>
