<!-- Create new Paid Post -->
<div id="post-create" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar lg:w-4/12 w-full dark:bg-gray-700 dark:text-gray-300 p-0 bg-white shadow-2xl">

        <button class="uk-offcanvas-close absolute" type="button" uk-close></button>

        <!-- notivication header -->
        <div class="-mb-1 border-b font-semibold px-5 py-5 text-lg">
            <h4> Configura tu Post </h4>
        </div>

        <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
            <div class="p-6 space-y-3 flex-1">
                <div>
                    <label> Titulo </label>
                    <input type="text" class="with-border" name="title" placeholder="Titulo de la publicación" [(ngModel)]="post.title">
                </div>

                <div class="grid grid-cols-3 gap-4">
                    <div class="col-span-3">
                        <label> Category </label>
                        <select name="category" id="category" class=" with-border" [(ngModel)]="post.category">
                            <option value="technology">Tecnologia</option>
                            <option value="services">Servicios</option>
                            <option value="health">Salud</option>
                            <option value="finances">Finanzas</option>
                            <option value="law">Derecho</option>
                            <option value="politics">Politica</option>
                            <option value="other">Otra</option>
                        </select>
                    </div>
                </div>

                <div>
                    <label> Descripción </label>
                    <textarea name="description" rows="3" class="with-border w-full p-4" id="description"
                        placeholder="Please describe your product." [(ngModel)]="post.description"></textarea>
                </div>

                <div uk-form-custom class="w-full py-3">
                    <div (click)="file0.click()"
                        class="bg-gray-100 border-2 border-dashed flex flex-col h-32 items-center justify-center relative w-full rounded-lg dark:bg-gray-800 dark:border-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-12">
                            <path
                                d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z" />
                            <path d="M9 13h2v5a1 1 0 11-2 0v-5z" />
                        </svg>
                    </div>
                    <input type="file" name="file0" #file0 (change)="onChange($event)" multiple />
                </div>

                <div *ngIf="post.images && post.images.length > 0">
                    <ul class="max-w-md space-y-2 text-gray-500 list-inside dark:text-gray-400">
                        <li class="flex items-center" *ngFor="let image of post.images" style="padding-left: 3rem !important;">
                            <svg class="w-4 h-4 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                            </svg>
                            {{ image.name }}
                        </li>
                    </ul>
                </div>

                <div *ngIf="response && response.status === 'success'" class="bg-green-500 border mb-4 p-4 relative rounded-md uk-alert" uk-alert="">
                    <button class="uk-alert-close absolute bg-gray-100 bg-opacity-20 m-5 p-0.5 pb-0 right-0 rounded text-gray-200 text-xl top-0">
                        <i class="icon-feather-x"></i>
                    </button>
                    <h3 class="text-lg font-semibold text-white">Exito!</h3>
                    <p class="text-white text-opacity-75">{{ response.message }}</p>
                </div>
        
                <div *ngIf="response && response.status === 'error'" class="bg-red-500 border mb-4 p-4 relative rounded-md uk-alert" uk-alert="">
                    <button class="uk-alert-close absolute bg-gray-100 bg-opacity-20 m-5 p-0.5 pb-0 right-0 rounded text-gray-200 text-xl top-0">
                        <i class="icon-feather-x"></i>
                    </button>
                    <h3 class="text-lg font-semibold text-white">Error</h3>
                    <p class="text-white text-opacity-75">{{ response.message }}</p>
                </div>

                <div class="font-semibold text-md">
                    <h4> Información de Contacto </h4>
                </div>

                <div>
                    <label> Telefono </label>
                    <input type="text" class="with-border" name="phone" placeholder="Introduce un télefono de contacto" [(ngModel)]="post.phone">
                </div>

                <div>
                    <label> Email </label>
                    <input type="text" class="with-border" name="email" placeholder="Introduce un email de contacto" [(ngModel)]="post.email">
                </div>

                <div>
                    <label> URL Website Empresa </label>
                    <input type="text" class="with-border" name="website" placeholder="Introduce la URL del sitio web de tu empresa" [(ngModel)]="post.company">
                </div>
            </div>
            <div class="p-5">
                <button type="submit" class="button w-full uppercase">
                    Continuar con el pago
                </button>
            </div>
        </form>
    </div>
</div>