<div *ngIf="posts && posts.length > 0">
    <div *ngFor="let post of posts">

        <!-- ENTERPRISE PLAN  -->
        <div *ngIf="post.plan_id === 3">
            <div class="relative" uk-slider="finite: true">
                <div class="uk-slider-container px-1 py-3">
                    <ul class="uk-slider-items uk-child-width-1-1@m uk-child-width-1-1@s uk-child-width-1-1 uk-grid-small uk-grid">
                        <li *ngFor="let image of post.images; index as i">
                            <a href="#">
                                <div class="card">
                                    <div class="card-media h-80">
                                        <div class="card-media-overly"></div>
                                        <img src="{{url}}post/file/{{image}}" alt="image_{{i}}_{{post.title}}">
                                        <span class="absolute bg-white px-2 py-1 text-sm rounded-md m-2"> Label</span>
                                        <button class="bg-red-100 absolute right-2 top-2 p-0.5 px-1.5 rounded-full text-red-500">
                                            <i class="icon-feather-heart"> </i>
                                        </button>
                                    </div>
                                    <div class="card-body">
                                        <div class="-top-3 absolute bg-blue-100 font-medium px-2 py-1 right-2 rounded-full text text-blue-500 text-sm">
                                            $00.99
                                        </div>
                                        <div class="text-xs font-semibold uppercase text-yellow-500">{{ post.category }}</div>
                                        <div class="ext-lg font-medium mt-1 t truncate"> {{ post.title }} </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -left-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white" href="#" uk-slider-item="previous"> <i class="icon-feather-chevron-left"></i></a>
                    <a class="absolute bg-white bottom-1/2 flex items-center justify-center p-2 -right-4 rounded-full shadow-md text-xl w-9 z-10 dark:bg-gray-800 dark:text-white" href="#" uk-slider-item="next"> <i class="icon-feather-chevron-right"></i></a>

                </div>
            </div>
        </div>
        <!-- FIN ENTERPRISE POST -->

        <!-- BUSSINESS POST -->
        <div *ngIf="post.plan_id === 2">
            <div class="px-1 py-3">
                <a href="#">
                    <div class="card p-2 flex space-x-4 border border-gray-100">

                        <div *ngFor="let image of post.images; index as i" class="w-60 h-60 overflow-hidden rounded-lg">
                            <div class="card-media h-60">
                                <img src="{{url}}post/file/{{image}}" alt="image_{{i}}_{{post.title}}">
                            </div>
                        </div>

                        <div class="flex-1 pt-2.5 relative">
                            <div class="text-xs font-semibold uppercase text-yellow-500">{{ post.category }}</div>
                            <div class="text-lg mt-3 2.5 text-gray-700">{{ post.title }}</div>
                            <div class="flex items-center space-x-2 text-sm text-gray-400 capitalize">
                                <div> 15 likes</div>
                                <div>·</div>
                                <div> 286 views </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- FIN BUSSINESS POST -->

        <!-- BASIC POST -->
        <div *ngIf="post.plan_id === 1">
            <div class="flex justify-center px-1 py-3">
                <div class="card w-5/12">
                    <a href="#">
                        <div class="card-media h-40">
                            <div class="card-media-overly"></div>
                            <div *ngFor="let image of post.images">
                                <img src="{{url}}post/file/{{image}}" alt="image_{{post.title}}">
                            </div>
                            
                            <span class="absolute bg-white px-2 py-1 text-sm rounded-md m-2"> Label</span>
                            <button
                                class="bg-red-100 absolute right-2 top-2 p-0.5 px-1.5 rounded-full text-red-500">
                                <i class="icon-feather-heart"> </i>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="text-xs font-semibold uppercase text-yellow-500">{{ post.category }}</div>
                            <div class="ext-lg font-medium mt-1 t truncate"> {{ post.title }} </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- FIN BASIC POST -->
    </div>
</div>